@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, ul, li{
    list-style-type: none;
    text-decoration: none;
}
html, body{   
 overflow-x: hidden;  
}
h1,h2,h3{
    font-family: Poppins, sans-serif;
    font-weight: 500;
    text-align: center;
}

[data-anime]{
    opacity: 0;
    transition: all .3s;
}
[data-anime="center"]{
    transform: translate3d(0, 0, 0);
}
[data-anime="left"]{
    transform: translate3d(-50px, 0, 0);
}
[data-anime="right"]{
    transform: translate3d(50px, 0, 0);
}
[data-anime].animate{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
.row-center{
    width: 90%;
    margin: auto;
}
.nav_header{
    display: flex;
    justify-content: space-between;      
    padding: 0.7rem 1.2rem;   
    position: fixed;
    bottom: 0; 
    left: 0;  
    width: 100%; 
    transition: .3s;  
    background-color: #fff;
    box-shadow: 0 -1px 4px rgba(0,0,0,.15); 
    z-index: 1;
}

.nav_wrapper{   
    position: fixed;
    bottom: -100%; 
    left: 0; 
    width: 100%;   
    padding-top: 1.5rem;
    padding-bottom: 3rem;  
    box-shadow: 0 -1px 4px rgba(0,0,0,.15); 
    border-radius: 1.5rem 1.5rem 0 0 ; 
    transition: .3s; 
    background-color: #fff;           
}
.menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
.menu a{    
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .9rem;
    color:#161923;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    font-weight: normal;
}
.menu a:hover {
    color: #474b57;
}
.menu i{
    font-size: 1rem;
}
.open-menu{
    color:#161923;
    cursor: pointer;
}
.open-menu, .title-name{
    font-size: 1.2rem;    
}
.nav_wrapper .close-menu{
    font-size: 40px;
    color:#161923;  
    cursor: pointer;
    right: 7%;
    bottom: 4%;
    position: absolute;       
}

.close-menu:hover{
    color: #474b57;
}

/*====Introduction====*/
.capa{
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: auto;
    padding-top: 7vh;    
}
.box-img-perfil, .box-introduction{
      text-align: center;
}
.box-img-perfil img{
    border-radius: 80px 30px 100px 50px; 
    width: 150px; 
}
/*Social Midia*/
.social_midia{
    padding: 5px;
    cursor: pointer;
    font-size: 1.4rem;
    cursor: pointer;
    text-decoration: none;
    color:#8880FE;
}

h1{
    font-size:  1.8em;
}
.box-introduction p:nth-of-type(1){
    color: rgb(32, 27, 27);
    margin: 10px auto;
    font-size: 1.3em;     
}
.box-introduction p {
    font-size: 18px;
    color:#444;
    line-height: 1.4;   
    margin-top: 0.8rem; 
    margin-bottom: 2.5rem;
    font-family: Roboto; 
}
.btn-contact-me, .btn-curriculo{
    padding: 15px 30px;
    margin: 25px auto;
    color: #fff;
    background-color:#1B2029;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.5s;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-contact-me:hover, .btn-curriculo:hover, .btn_link:hover{
    background-color:#8880FE;
    border:#040B18;
    transition: all 0.5s;
}

/*====About Me====*/
.about{
    text-align: center;
    margin-top: 25%;
}

.about h2{
    margin-bottom: 1.5rem;
}

.about_photo_me img{
  border-radius: 40px 100px 40px 110px;
  width:170px;  
  padding-top: 15px;
}
.about p{
    padding: 2.5rem 10px;
    font-size: 1.2rem; 
    font-family: Roboto;   
    line-height: 1.5;
}
.description_about p {
    font-size: 18px;
    color:#444;
    line-height: 1.4;   
    margin-top: 0.8rem;      
}
.info_me{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px 10px;
    width: 70%;
    margin: auto;
}
.item_info_me{
    text-align: center; 
    margin-bottom: 20px;    
    font-family:roboto; 
}
.item_info_me .number{
    font-size: 1.4rem;
    display: block;
    font-weight: 800;
    font-family:roboto;
}

/*===Btn curriculo===*/
.btn-curriculo i{
    font-size: 20px;
    margin-left: 5px;
}
.btn-curriculo{
    display: block;
    width: 200px;
}
/*====Skill====*/
.box_skills{
    text-align: center;
}
.box_in_section{
    padding: 25px 25px 30px;
    text-align: center;
}
.skills{    
    text-align: left;
    margin-bottom: 10px;
}
.title_front{
    font-size: 1.2rem;
    color: #1B2029;
    display: block;
    display: flex;   
    align-items: center;
    padding: 10px;    
    cursor: pointer;
}

/*====icon- font awesome====*/
.title_front .fa-angle-up{
    display: none;
}
.title_front #arrow-up{
    display: none;
    
}
.title_front .fa-angle-down, .fa-angle-up {
    margin-left: auto;    
    cursor: pointer;
    
}
.title_front .fa-code, .fa-swatchbook{
    margin-right: 5px;
    cursor: pointer;
}
.description{
    width: 100%;
    margin: auto;
    margin-top: 30px;
    display: inline-block;
    padding: 0px 20px 0 40px;
    display: none;
}
.description_front{
    display: block;
}
.ruler{
    display:block;
    height: 5px;
    background-color:#aeb0b3;
    border-radius: 100px;
    margin-bottom: 1.2rem;
}

/*====Section skill frontend====*/
.ruler_html::before, .ruler_css::before, .ruler_js::before, .ruler_figma::before, .ruler_photoshop::before, .ruler_gimp::before, .ruler_canva::before, .ruler_git::before{
    content: "";
    display: block;
    width: 50%;
    height: 5px;
    background-color:#1B2029;    
    border-radius: 100px;
    margin-top: .5rem;
}

/*====Aumenta a cor do grafico "cor do bg"====*/
.ruler_js::before{
    width: 10%;
}
.ruler_figma::before{
    width:20%;
}
.ruler_photoshop::before{
    width:30%;    
}
.ruler_gimp::before{
    width:40%;
}
.ruler_canva::before{
    width: 70%;
}
.ruler_git::before{
    width: 20%;
}
.title_tech{
    position: relative;
}


/*====Qualificação====*/
.info_education{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    color: #1B2029; 
    font-size: 1.2rem;    
}
.title_education{
    padding: 0px 20px;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.title_education:hover{
    color:#8880FE;    
}
.icon_education{
    margin-right: 5px;
}
.box_education, .box_experience{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px 30px;      
    box-sizing: border-box; 
}
.grid-item{       
    line-height: 1.5;            
}
.box_education .grid-item:nth-child(1){
    border-right: 1px solid yellow;
}
.grid-item p{
    color: #474b57;
    font-size: .8rem;    
}

/*====Div Work====*/
.box_experience{     
    text-align:right;             
}
#box_exper{
    display: none;
}
.box_experience .grid-item:nth-child(1){
    padding-right: 1.3rem;  
}
.box_experience .grid-item:nth-child(2){
    border-left: 1px solid yellow; 
    padding-right: 1rem; 
}
.box_experience .grid-item:nth-child(3){    
    grid-column: 2 / -1;    
    padding-right: 1rem;     
}

/*====Projects====*/
.carrossel{
    box-shadow: 0px 0px 4px #8880FE;    
    margin: auto;
    width: 85%; 
    margin-top: 40px;  
    margin-bottom: 40px; 
}
.flex_port_item{
    padding: 10px;
    text-align: left;
    font-family: Poppins, sans-serif;
}
.flex_port_item img{
    width: 100%;
    box-shadow: 0px 0px 1px;
}
.flex_port_item h4{
    margin: 10px auto;
}
.flex_port_item p{
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    color:#666
}

/*====Btn link projects====*/
.btn_link{
    padding: 6px 1.5rem;
    background-color:#1B2029;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-weight: 600; 
    display: inline-block;
    margin-top: 15px;  
    font-size: 0.8rem; 
    font-family: Arial, Helvetica, sans-serif;  
}
.btn_link i {
    text-align:right;
    margin-left: 7px;    
}

/*====Contact Me====*/
.box_contactme{
    width: 80%;
    margin: auto;
    text-align: center;   
    padding: 1.5rem; 
}
.social_contact{
    font-size: 2rem;    
}
.box_contactme .social_contact:nth-child(3){
    color: green;
    display: inline-block;
    font-size: 1.5rem;
}

/*====About Portifolio====*/
.box_title_portifolio{
    padding: 20px;
    text-align: center;
    padding-bottom: 30px;
}
.box_title_portifolio p{
    font-family: 'Open Sans', sans-serif;
    color:#666
}
.box_title_portifolio h2{
    margin-bottom: 1rem;
}
/*====Footer====*/
.box_footer{
    font-size: 1.2rem;
    font-family: poppins;
    font-weight: 450;
    text-align: center;
    padding-bottom: 35px;
}
.box_footer::after {
    content: "";
    text-align: center;
    width: 70px;
    height: 2px;
    background: orange;
    display: block;
    margin: auto;    
}
.flex_port_item h4::after{
    content: "";
    display: block;       
    bottom: 0;
    width: 20px;
    height: 3px;
    background-color: orange;
}

/*====Midias queries====*/
@media screen and (min-width:430px){
    .box-img-perfil img{
        width: 170px;
    }   
}
@media  screen and (min-width:600px) {
    .capa{
        flex-direction: row;
        /*padding-top: 20vh; RETIRAAAA PORQUE ESTA ATRAPALHANDO PARA SABER DISTANCIA DA SECTION COM JS*/
        padding-bottom: 20%;
    }
    .box-img-perfil{
        width: 35vw;
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }    
    .box-introduction{
        width: 60vw;        
        order: -1;
        text-align: left;
    }
    h1{
        text-align:left;
        font-size: 2rem;
    }
    .btn-contact-me{
        padding: 20px 30px;
        font-size: 1.1rem;
        border-radius: 15px;
    }
    h2{
        font-size: 1.7em;
    }
    .item_info_me .number{
      font-size: 1.5rem;  
    }
    .item_info_me{
        font-size:  1.3rem;
    }
    .about{    
        margin-top: 0;    
        } 
    .btn-curriculo{
        padding: 20px 30px;
        font-size: 1.1rem;       
    }
    .box_skill_item{
        display: flex;
    }
    .skills{
        width: 50vw;
    }
    .title_front{
        font-size: 1.5rem
    }
    .title_education{
        font-size: 1.5rem;
    }
    .grid-item .title_item{
        font-size: 1.3rem;
    }
    .grid-item p {
        font-size: 1rem;
    }
    .grid-item i{
        padding-right: 5px;
    }
    .box_in_section p{
        font-size: 1.1rem;
    }   
    .btn_link{
        padding: 10px 1.5rem;
        font-size: 1rem;
    }
    .carrossel{
        width: 70%;
        padding: 10px;       
    }     
}
@media screen and (min-width:900px){
    body{
        margin-top: 90px;
    }
    .header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;  
        z-index: 1;    
    }      
    .nav_header{
        display: flex;            
        padding: 0;        
        width: 80%;  
        height:40px;         
        position: static;
        margin: auto;
        box-shadow: none;        
    }
    .nav_wrapper{   
        width: 50vw;
        position:static;
        display: inline-block;       
        border-radius: 0 ; 
        transition: .3s;           
        padding: 0;  
        box-shadow: none;           
    }
    .title-name{
        line-height: 40px;
    }
    .menu{        
        display: flex;        
        padding: 0; 
        justify-content: center;
        align-items: center;
        height: 40px;
    }
    .menu i, .open-menu, .close-menu{
        display: none;
    }    
    .menu li{
         padding: 10px;
         margin: 0;
    }
    .menu a{    
        margin: 0;
        padding: 0;      
        font-size: .9rem;
        color:#161923;
        font-weight: normal;
        cursor: pointer;
        display: inline;
        text-transform: uppercase;
    }
    .menu a:hover{
        border-bottom: 2px dotted #8880FE;
    }
    .btn-contact-me, .btn-curriculo{
        padding: 15px 20px;       
    }
   .capa{
      width:80%;
      padding-bottom: 10%;
   }
   .box-img-perfil img{
    width: 209px;
    }
   .about{    
    margin-top: 0;    
    }   
   .about_photo_me img{    
    width:220px;  
    padding-top: 15px;
    }
   .about_box_description{
       display: flex;
       width: 85%;
       margin: auto;       
   }   
   .description_about{       
       width: 50vw;
   }
   .box_skills{
       width: 80%;
       margin: auto;
   }
   .box_education, .box_experience{
       width: 80%;
       margin: auto;       
   }    
   .flex_port_item{
       display: flex !important;             
   }
   .flex_port_item img{ 
        margin-top: 2rem;       
        border-radius: 10px;
    }  
   .port_item_description{       
       width: 40vw;
       margin-left: 10px;
       padding: 20px 50px;       
   }
   .box_title_portifolio{
       width: 70%;
       margin: auto;
   }
   .box_footer{
    padding-bottom: 0;
   }
}